#container {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#header {
    text-align: right;
    width: 100%;
}

#content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

#footer {
    text-align: right;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    border-top: solid black;
    background-color: lightslategrey;
}

/* FONT PROPERTIES */

h1 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
h2 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
}
h3 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}
p {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

#footer h3 {
    padding-right: 30px;
}